.common-green {
  background: var(--bs-secondary);
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(33,37,41,0.6);
}

.curved-border {
  border-radius: 6px;
}

.filtr-item {
}

.filtr-controls {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin: 30px 0 15px;
}

.filtr-controls span {
  display: inline-block;
  margin: 10px 15px;
  cursor: pointer;
  padding: 5px 0;
  position: relative;
  color: #777;
}

.filtr-controls span:hover, .filtr-controls span.active {
  color: #000;
}

.filtr-controls span:after {
  content: ' ';
  width: 0;
  height: 2px;
  /*position: absolute;*/
  bottom: 0;
  left: 50%;
  background: transparent;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  /*font-size: 1px;*/
}

.filtr-controls span.active:after {
  width: 100%;
  left: 0;
  background: #000;
}

@media (max-width:479px) {
  .filtr-item {
    width: 100%;
    height: 100%;
  }
}

.carousel-indicators .active {
  background-color: #d2f5b7;
}

.carousel .carousel-control-next-icon, .carousel-control-prev-icon {
  background-image: none;
}

.item.filtr-item {
  background: rgba(0,0,0,0);
  border-radius: 19px;
  padding-top: 12px;
  padding-right: 9px;
  padding-left: 9px;
  margin-left: 0px;
  margin-right: 0px;
  transform: scale(1);
  /*height: 100%;*/
}

#project6 {
}

.project-panel {
}

.project-text {
  /*font-size: 2em;*/
  /*padding-bottom: 0px;*/
}

h1 {
  --fs-sm: clamp(0.8rem, 0.17vi + 0.76rem, 0.89rem);
  --fs-base: clamp(1rem, 0.34vi + 0.91rem, 1.19rem);
  --fs-md: clamp(1.25rem, 0.61vi + 1.1rem, 1.58rem);
  --fs-lg: clamp(1.56rem, 1vi + 1.31rem, 2.11rem);
  --fs-xl: clamp(1.95rem, 1.56vi + 1.56rem, 2.81rem);
  --fs-xxl: clamp(2.44rem, 2.38vi + 1.85rem, 3.75rem);
  --fs-xxxl: clamp(3.05rem, 3.54vi + 2.17rem, 5rem);
}

