.default-box {
  margin-top: 0px;
  border-radius: 6px;
  margin-right: 16px;
  margin-left: 16px;
  background: var(--bs-primary);
  box-shadow: 0px 0px 7px rgba(33,37,41,0.6);
  max-width: 1200px;
  width: 90%;
  margin-bottom: 24px;
}

.background {
  background: url(../../assets/img/Site/BG-Grid.png), var(--bs-primary);
}

.text-buffer {
  height: 60px;
}

.no-pointer-events {
  pointer-events: none;
}

